<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container scnav">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
          	<div id="logo"><a href="https://www.sourceclear.com">{% img left /images/SC1.png 'image' 'images' %}</a></div>
            <div class="nav-collapse">
                <ul class="nav pull-right headerLinkCenter">
                    <li><a href="http://www.sourceclear.com/products/">PRODUCTS</a></li>
                    <li><a href="http://www.sourceclear.com/labs/">LABS</a></li>
                    <li><a href="http://blog.sourceclear.com">BLOG</a></li>
                    <li><a href="http://www.sourceclear.com/about/">ABOUT</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="http://www.sourceclear.com/contact">CONTACT</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="http://www.twitter.com/sourceclear"><i class="icon-twitter"></i></a></li>
                    <li><a href="/atom.xml"><i class="icon-rss"></i></a></li>
                    <li><a href="mailto:hello@sourceclear.com"><i class="icon-envelope"></i></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>
    <!--/.navbar-inner -->
</div>
<!--/.navbar -->
