<!-- FaceBook -->
<meta name="og:title" content="SOURCECLEAR"/>
<meta name="og:url" content="https://www.sourceclear.com/"/>
<meta name="og:description" content="SOURCECLEAR is a software company that helps the worlds developers build secure software and helps organizations scale their application security programs."/>
<meta name="og:image" content=""/>

<!-- Twitter -->
<meta name="Twitter:card" content="summary"/>
<meta name="Twitter:site" content="@sourceclear"/>
<meta name="Twitter:creator" content="@sourceclear"/>
<meta name="Twitter:title" content="SOURCECLEAR is a software company that helps the worlds developers build secure software and helps organizations scale their application security programs."/>
<meta name="Twitter:url" content="http://www.sourceclear.com/"/>
<meta name="Twitter:description" content="SOURCECLEAR is a software company that helps the worlds developers build secure software and helps organizations scale their application security programs."/>
<meta name="Twitter:image" content=""/>

<!-- Google+ -->
<meta itemprop="name" content="SOURCECLEAR"/>
<meta itemprop="description" content="SOURCECLEAR is a software company that helps the worlds developers build secure software and helps organizations scale their application security programs."/>
<meta itemprop="image" content=""/>

<!-- Main -->
<meta name="description" content="SOURCECLEAR is a software company that helps the worlds developers build secure software and helps organizations scale their application security programs." />
<meta name="keywords" content="software security, appsec, sdl, web application security" />
<meta name="robots" content="index, follow" />
<link rel="shortcut icon" href="/images/favicon.ico"/>

<link href="{{ root_url }}/assets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/js/sourceclear.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>