// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$header-font-size: 1em;
$header-padding-top: 0em;
$header-padding-bottom: 0em;

$max-width: 100%;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;
// ////////////////////////////////////////
// change the footer
//

/* @group Global */

html, body {
  font-family: "proxima-nova", arial, sans-serif;
  font: "proxima-nova";
  	font-style: regular;
  	font-weight: 400;
  	height: 100%;
}
body {
  color: #333333;
}
p {	
  font-family: "proxima-nova", arial, sans-serif;
  font-style: regular;
  font-weight: 400;
  color: #333333;
}

h1 {
  margin-bottom: .25em;
  color: #4A515B !important;
}

h2 {
  margin-bottom: .5em;
  color: #4A515B !important;
  a {
    color: #4A515B !important;
  }
}

h3 {
  margin-bottom: .75em;
  font-weight: 600;
}

h4, h5, h6 {
  margin-bottom: 1.25em;
  color: #666;
}

hr {
  border-top-color: #DDD;
}

input {
  font-family: "proxima-nova", arial, sans-serif;
}

.center-in-span {
  float: none;
  margin: 0 auto;
  text-align: center;
  display: block;
  width:auto;
  height:auto;
  }

#push {
  height: 60px;
}

form {
  margin: 0 !important;
  }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  > .container {
    padding-top: 70px;
    border-right: none;
  }
}
/* @end */

/* @group Header */
#logo {
  img {
    width: 100%;
  }
  float: left;
  display: block;
  padding: 15px 20px 20px 20px;
  width: 152px;
}


/* @group Navigation */

.scnav {
  background: #495b67;
}

.social-icons-margin {
    margin-top: 50px;
}

.social-icons-margin {
    margin-top: 50px;
}

.subnav{
  margin-top: -20px;
}

/* @group Navbar Overrides */

.navbar .brand {
  display: block; 
  float: left; 
  padding: 15px 20px; 
  color: #fff; 
}

.navbar .nav > li > a {
  color: #ffffff !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #a9a9a9 !important;
  text-decoration: none !important;
  background-color: transparent;
}

.navbar [class^="icon-twitter"]{
  color: #79CAFC;
}
.navbar [class^="icon-circle"]{
  color: #FF2600;
}
.navbar [class^="icon-rss"]{
  color: #FF6600;
}
.navbar [class^="icon-envelope"]{
  color: #FFF;
}
.headerLinkCenter {
  margin-top: 7px !important;
}
/* @end */
#content {
  article {
    padding-left: 0px !important;
    padding-top: 0px !important;
    header {
      padding-top: 0em;
    }
  }
  .blog-index {
    footer {
      padding-bottom: 2em;
    }
    article+article {
      header {
        padding-top: 1em;
      }
    }
  }
}
.entry-title {
  a:hover {
    color: #4A515B!important;
  }
}
.footerContent {
  text-align:center;
}
#github-recently-updated {
  h1 {
    line-height:1em;
    padding:0.2em;
    a {
      font-size: 0.8em;
      display:block;
    }
  }
}